
body {
    font-family: HelveticaNeue-Light;
}

body * {}

.bs-docs-section {
    margin: 80px 200px;
}

.bs-glyphicons-list {}

.bs-glyphicons-list .copy {
    list-style: none;
    line-height: 2em;
    display: inline-block;
    padding: 20px 0;
    text-align: left;
    background-color: #E9EEFF;
    margin-right: 20px;
    margin-bottom: 12px;
    padding: 0 20px;
}

.bs-glyphicons-list .icon {
    font-size: 20px;
    margin-right: 0.5em;
    vertical-align: middle;
}

.glyphicon-class {
    cursor: pointer;
    padding: 5px 17px;
    display: inline-block;
    width: 200px;
}
